<%= link_to "Create new Hero", new_player_path %>
<% if @players==[] %>
<p> No Heroes </p>
<% else %>
	<% @players.each do |player| %>
		<p>
           <%= player.nickname %><br />
           <%= player.rank %><br />
           <%= player.charisma %><br />
           <%= player.wisdom%><br />
		<%= link_to "read more", player_path(player.id) %>
		</p>
	<% end %>
<% end %>
new
