  <%= @player.nickname %><br />
  <%= @player.rank %><br />
  <%= @player.charisma %><br />
  <%= @player.wisdom%><br />
  <%= link_to "edit", edit_player_path(@player.id) %>
  <%= link_to "delete", player_path(@player.id), method: :delete %>